body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #333333;
    color: whitesmoke;
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
.my-8 {
    margin: 8rem;
}